// primary colors
$primary_color: #d92727;

$spinner-green: #008744;
$spinner-blue: #0057e7;
$spinner-red: #d62d20;
$spinner-yellow: #ffa700;
$primary_dim: #db3b3b;
$primary_bright: #d41813;
$primary_focus: #fcb4b4;

$grey: #555555;
$grey_light: #72777a;
$red_title: #d92727;
$background_white: #f3f3f3;
$primary_white: #ffffff;
$primary_black: #000000;
$green_btn: #4caf50;
$transparent: transparent;
$grey_3: #313435;
$grey_8: #888888;
$red_asterix: #dc2626;
$grey_mild: #6c757d;
$placeholder: #a6aaac;
$grey_6: #665a5a;
$label_grey: #666666;
$grey_33: #333333;
$grey_hover: #212529;
$white_fa: #fafafa;
$background_badge: #e9e9e9;
$primarybg: #eeeeee;
$primary_head_bg: #f1f1f1;
$primary_border: rgba(0, 0, 0, 0.0625);
// Themes
$light_primary_bg: #f9fafb;
$dark_primary_bg: #273143;
$dark_primary_clr: #c8ccd0;
$dark_primary_hvr: #333d4e;
$dark_secondary_bg: #2f394c;
$dark_secondary_hvr: #2b3647;
$dark_content_bg: #4d5761;
$dark_border: #384252;
$dark_primary_brdr: #404e63;
$dark_danger: #fa5f5f;
$dark_subhead_clr: #d8d8d8;
$dark_btn: #a9b3bc;
$dark_btn_hvr: #6c757d;
$dark_focus: rgba(52, 142, 216, 0.5);
$dark_succes_clr: #348ed8;
$dark_succes_hvr: #529fde;
$dark_primary_focus: #8fceffc2;